.movies-card-list {
  padding: 70px 0 28px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px 30px;
}

.movies-card-list__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
