.movies-card {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.movies-card__button-save {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #F9F9F9;
  border: 0;
  border-radius: 30px;
  position: absolute;
  top: 14px;
  right: 14px;
  width: 72px;
  height: 21px;
  font-size: 10px;
  line-height: 9px;
  transition: all 0.1s;
}

.movies-card__button-save-active {
  background-color: #FF3055;
  background-image: url(../../images/saved_card.svg);
  background-repeat: no-repeat;
  background-position: center;
  font-size: 0;
  width: 21px;
}

.movies-card__button-delete {
  background-color: #F9F9F9;
  background-image: url(../../images/card_delete_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  font-size: 0;
  width: 21px;
}

.movies-card__image {
  width: 100%;
  height: 201px;
  object-fit: cover;
  border-radius: 6px;
  margin: 0 0 14px;
  cursor: pointer;
}

.movies-card__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.movies-card__title {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  max-width: 250px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.movies-card__time-container {
  flex: 0 0 auto;
  display: flex;
  width: 52px;
  height: 18px;
  color: #A0A0A0;
  background-color: #F9F9F9;
  border-radius: 3px;
}

.movies-card__time {
  width: 100%;
  font-size: 11px;
  line-height: 10px;
  margin: auto;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .movies-card__image {
    height: 190px;
  }
}

@media screen and (max-width: 320px) {
  .movies-card__image {
    height: 168px;
    margin: 0 0 16px;
  }

  .movies-card__button-save {
    top: 10px;
    right: 10px;
  }
}
