.portfolio {
  padding-bottom: 125px;
}

.portfolio__title {
  color: #A0A0A0;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
}

.portfolio__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.portfolio__list-item {
  border-bottom: solid 1px #E8E8E8;
}

.portfolio__list-item-link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: black;
}

.portfolio__list-item-title {
  font-weight: normal;
  font-size: 30px;
  line-height: 50px;
  margin: 20px 0;
}

@media screen and (max-width: 768px) {
  .portfolio {
    padding-bottom: 90px;
  }

  .portfolio__list-item-title {
    font-size: 28px;
  }
}

@media screen and (max-width: 320px) {
  .portfolio__title {
    font-size: 14px;
    line-height: 20px;
  }
}
