.navigation__link-signup {
  margin: 0 50px;
  text-decoration: none;
  color: #FFFFFF;
}
.navigation__link-signin {
  text-decoration: none;
  color: #000000;
  background-color: #2BE080;
  border-radius: 3px;
  padding: 8px 20px;
}

.navigation__list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navigation__item {
  margin: 0 20px 0 0;
}

.navigation__item:last-child {
  margin: 0 0 0 30px;
}

.navigation__link {
  text-decoration: 0;
  color: #000000;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

.navigation__link_type_bold {
  font-weight: 500;
}

.navigation__account-icon {
  width: 12px;
  height: 14px;
  margin: 0 7px 0 0;
}

.navigation__link-account {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 32px;
  border: 2px solid #AAAAAA;
  border-radius: 50px;
  box-sizing: border-box;

}

.navigation__burger-icon {
  position: relative;
  display: none;
  width: 28px;
  height: 23px;
  box-sizing: border-box;
}

.navigation__burger-icon-span {
  background-color: #000000;
  position: absolute;
  width: 100%;
  height: 3px;
  top: calc(50% - 1.5px);
}

.navigation__burger-icon-span:first-child {
  top: 0;
}

.navigation__burger-icon-span:last-child {
  top: auto;
  bottom: 0;
}

@media screen and (max-width: 768px) {
  .navigation__burger-icon {
    display: block;
  }

  .navigation__links {
    display: none;
  }
}
