.navigation__link-signup {
  margin: 0 50px;
  text-decoration: none;
  color: #FFFFFF;
}
.navigation__link-signin {
  text-decoration: none;
  color: #000000;
  background-color: #2BE080;
  border-radius: 3px;
  padding: 8px 20px;
}

.navigation__list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navigation__item {
  margin: 0 20px 0 0;
}

.navigation__item:last-child {
  margin: 0 0 0 30px;
}

.navigation__link {
  text-decoration: 0;
  color: #000000;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

.navigation__link-main-page {
  display: none;
}

.navigation__link_type_bold {
  font-weight: 500;
}

.navigation__account-icon {
  width: 12px;
  height: 14px;
  margin: 0 7px 0 0;
}

.navigation__link-account-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 32px;
  border: 2px solid rgba(170, 170, 170, 0.2);
  border-radius: 50px;
  box-sizing: border-box;

}

.navigation__burger-button {
  background-color: initial;
  position: relative;
  display: none;
  border: 0;
  margin: 0;
  padding: 0;
  width: 28px;
  height: 23px;
  box-sizing: border-box;
}

.navigation__burger-button-span {
  background-color: #000000;
  position: absolute;
  width: 100%;
  height: 3px;
  top: calc(50% - 1.5px);
  left: 0px;
}

.navigation__burger-button-span:first-child {
  top: 0;
}

.navigation__burger-button-span:last-child {
  top: auto;
  bottom: 0;
}

@media screen and (max-width: 768px) {
  .navigation__burger-button {
    display: block;
  }

  .navigation__links {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .navigation__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
  .navigation__link:hover {
    border-bottom: solid 2px;
  }
  .navigation__link-account {
    font-size: 14px;
    line-height: 16px;
  }
  .navigation__link-main-page {
    display: inline;
  }
  .navigation__container {
    background-color: #FFFFFF;
    position: absolute;
    right: -100%;
    top: 0;
    transition: right 0.2s linear;
    width: calc((520/768)*100%);
    height: 100%;
  }
  .navigation__list {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 160px 0 90px 0;
    box-sizing: border-box;
  }
  .navigation__burger-button {
    z-index: 1;
  }
  .navigation__item {
    margin: 0 0 28px 0;
  }
  .navigation__item:last-child {
    margin: 0;
    margin-top: auto;
  }
}

.navigation__links_active {
  visibility: visible;
  opacity: 1;
}

.navigation__container_active {
  right: 0%;
}
