.about-project__container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 50px 0;
}

.about-project__description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.about-project__description-item {
  max-width: 550px;
}

.about-project__description-item-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin: 0 auto 26px;
}

.about-project__description-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.about-project__schedule {
  display: grid;
  grid-template-columns: 20% 80%;
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 110px 0;
}

.about-project__schedule-stage {
  display: grid;
  text-align: center;
}

.about-project__schedule-stage-time {
  background-color: #F2F2F2;
  margin: 0;
  width: 100%;
  font-size: 14px;
  line-height: 17px;
  padding: 9px 0;
}

.about-project__schedule-stage-time_theme_green {
  background-color: #2BE080;
}

.about-project__schedule-stage-name {
  color: #A0A0A0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}


