.about-project__container {
  max-width: 1140px;
  margin: 0 auto;
}

.about-project__description {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.about-project__description-item {
  max-width: 550px;
  margin-right: 40px;
}

.about-project__description-item:last-child {
  margin-right: 0px;
}

.about-project__description-item-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin: 0 auto 26px;
}

.about-project__description-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.about-project__schedule {
  display: grid;
  grid-template-columns: 1fr 5fr ;
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 110px 0;
}

.about-project__schedule-stage-time {
  background-color: #F2F2F2;
  padding: 9px 14px;
  margin: 0;
}

.about-project__schedule-stage-time_theme_green {
  background-color: #2BE080;
}

.about-project__schedule-stage-name {
  color: #A0A0A0;
}

.about-project__schedule-stage {
  display: grid;
  text-align: center;
}
