.footer {
  flex: 0 1 auto;
}

.footer__container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 30px 0;
}

.footer__title {
  text-align: center;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #A0A0A0;
  padding: 80px 0 20px;
  border-bottom: solid 1px #E8E8E8;
  margin: 0;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 20px;
}

.footer__list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__link-container {
  margin-right: 20px;
}

.footer__link-container:last-child {
  margin-right: 0px;
}

.footer__link {
  text-decoration: none;
  color: #000000;
  font-size: 13px;
  line-height: 16px;
}

.footer__copyrigth {
  margin: 0;
  font-size: 13px;
  line-height: 16px;
}
